
* {
    box-sizing: border-box !important;
}

html {
    scroll-behavior: smooth;
}

body {
    color: #666666;
    font-size: 14px;
    font-family: 'Lato', sans-serif;
    line-height: 1.80857;
    font-weight: normal;
    height: 100vh;
}

h1 {
    font-size: 24px;
    font-family: 'Baloo Chettan', cursive;
    letter-spacing: 0;
    font-weight: normal;
    position: relative;
    padding: 0;
    font-weight: normal;
    line-height: normal;
    color: #111111;
    margin: 0;
}


*,
*::after,
*::before {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

p {
    margin: 0px;
    font-weight: 300;
    font-size: 15px;
    line-height: 24px;
}

a {
    color: #222222;
    text-decoration: none;
    outline: none !important;
}

a{
    text-decoration: none !important;
    outline: none !important;
    -webkit-transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    -ms-transition: all .3s ease-in-out;
    -o-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
}

img {
    max-width: 100%;
    height: auto;
}

.head_top {
   background: url(../images/bg-image/banner.png);
   background-size: 100% 100%;
   background-repeat: no-repeat;
   background-position: center;
}

.header {
   width: 100%;
   background: transparent;
   padding: 30px 30px;
}

.banner_main {
   padding: 20px 0 40px 0;
}

.text-bg {
   text-align: left;
   max-width: 561px;
   width: 100%;
   float: right;
   padding-right: 51px;
   padding-left: 40px;
}

.text-bg h1 {
   color: #fff;
   font-size: 48px;
   line-height: 65px;
   font-weight: bold;
}

.text-bg p {
   color: #fff;
   font-size: 17px;
   line-height: 28px;
   padding: 40px 0;
}

.anchor a {
   font-size: 17px;
   background-color: #fff;
   color:#64C9CF;
   padding: 13px 0px;
   width: 100%;
   max-width: 160px;
   text-align: center;
   display: inline-block;
   transition: ease-in all 0.5s;
   border-radius: 10px;
}

.text-bg .signup-a{
   background-color: black;
   color: white;
}

.anchor a:hover {
   background-color: #000;
   color: #fff;
   transition: ease-in all 0.5s;
   border-radius: 26px;
}

.text-bg .signup-a:hover {
   background-color:white;
   color:#64C9CF;
   transition: ease-in all 0.5s;
   border-radius: 26px;
}


.anchor{
   display: flex;
   gap: 20px;
   margin-left: 60px;
}

.text-img {
   padding-top: 180px;
}

@media (min-width: 1200px) and (max-width: 1500px) {
   .projects::after {
       width: 262px;
   }
}

@media (min-width: 992px) and (max-width: 1199px) {
   .text-bg h1 {
       font-size: 36px;
       line-height: 59px;
   }
   
   
}

@media (min-width: 768px) and (max-width: 991px) {
   .text-bg h1 {
       padding-top: 0px;
       font-size: 28px;
       line-height: 38px;
       margin-left: 100px;
   }

   .text-bg p{
       margin-left: 100px;
   }
   
   .anchor{
       margin-left: 100px;
   }
   .text-bg {
       padding-right: 108px;
   }
   .banner_main {
       padding: 30px 0 190px 100px;
       
   }
   .text-bg{
       padding-left: 0;
       margin-right: 300px;
   }
   figure{
       height: 200px;
   }
}

@media (min-width: 576px) and (max-width: 767px) {
   .head_top {
       background:#64C9CF;
   }
   .text-bg h1 {
       font-size: 50px;
   }
   .text-bg {
       padding-right: 0;
   }
   
   .text-img {
       padding-top: 30px;
   }
   figure{
       height: 100px;
   }
}

@media (max-width: 575px) {
   .head_top {
       background:#64C9CF;
   }
   .text-bg h1 {
       font-size: 33px;
       line-height: 51px;
   }
   .text-bg {
       padding-right: 0;
   }
   .text-img {
       padding-top: 30px;
   }
   
   .banner_main {
   padding: 20px 0 170px 0;
   }
   figure{
       height: 200px;
   }

   
}

